<p class="lead"> Add a comment </p>
<%= form_for @post  do |f| %>
<% f.fields_for :comments do |builder| %>
<% if builder.object.new_record? %>
<div class="control-group">
  <%= builder.label :commenter , class: 'control-label'%>
  <div class="controls">
    <%= builder.text_field :commenter %>
  </div>
</div>
<div class="control-group">
  <%= builder.label :body ,class: 'control-label'%>
  <div class="controls">
    <%= builder.text_area :body %>
  </div>
</div>
<%= f.submit 'Add', class: 'btn' %>
<%end %>
<%end%>
<% end %>