<%= form_for @post , class: 'form-horizontal' do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation" class="alert">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label :text, class: 'control-label' %>
    <div class="controls">
    <%= f.text_area :text  %>
    </div>
  </div>

  <%= f.fields_for :comments do |builder| %>
  <% if builder.object.new_record? %>
    <p>
    <%= builder.label :commenter %><br />
    <%= builder.text_field :commenter %>
  </p>
  <p>
    <%= builder.label :body %><br />
    <%= builder.text_area :body %>
  </p>
  <p>
  <%end%>
<% end %>
    <%= f.submit 'New Post', class: 'btn' %>
<% end %>
