<h1>Title: <%= @post.title %></h1>
<h3>Text: <%= @post.text %></h3>

<%= render "comments/form" %>
<p class="lead"> Comments </p>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Commenter</th>
			<th>Comment</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @post.comments %>
	</tbody>
</table>


<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>
