<tr class='route_row' data-helper='path'>
  <td data-route-name='<%= route[:name] %>'>
    <% if route[:name].present? %>
      <%= route[:name] %><span class='helper'>_path</span>
    <% end %>
  </td>
  <td data-route-verb='<%= route[:verb] %>'>
    <%= route[:verb] %>
  </td>
  <td data-route-path='<%= route[:path] %>' data-regexp='<%= route[:regexp] %>'>
    <%= route[:path] %>
  </td>
  <td data-route-reqs='<%= route[:reqs] %>'>
    <%= route[:reqs] %>
  </td>
</tr>
