<h1>
  <%=h @exception.class.to_s %>
  <% if @request.parameters['controller'] %>
    in <%=h @request.parameters['controller'].camelize %>Controller<% if @request.parameters['action'] %>#<%=h @request.parameters['action'] %><% end %>
  <% end %>
</h1>
<pre><%=h @exception.message %></pre>

<%= render :file => "rescues/_trace.erb" %>
<%= render :file => "rescues/_request_and_response.erb" %>
