<h1>
  <%=h @exception.original_exception.class.to_s %> in
  <%=h @request.parameters["controller"].capitalize if @request.parameters["controller"]%>#<%=h @request.parameters["action"] %>
</h1>

<p>
  Showing <i><%=h @exception.file_name %></i> where line <b>#<%=h @exception.line_number %></b> raised:
  <pre><code><%=h @exception.message %></code></pre>
</p>

<p>Extracted source (around line <b>#<%=h @exception.line_number %></b>):
<pre><code><%=h @exception.source_extract %></code></pre></p>

<p><%=h @exception.sub_template_message %></p>

<%= render :template => "rescues/_trace" %>
<%= render :template => "rescues/_request_and_response" %>
