<h2>Ruby on Rails Guides (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on <a href="https://github.com/rails/rails/tree/<%= @edge %>">main@<%= @edge[0, 7] %></a>.
</p>
<p>
  If you are looking for guides for the latest stable release of Rails, please see
  <a href="https://guides.rubyonrails.org">https://guides.rubyonrails.org</a> instead.
</p>
<% else %>
<p>
  These are guides for Rails 7.1 based on <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.
</p>
<% end %>
<p>
  <a href="/versions.html">Guides for other versions of Rails</a> are also available.
</p>
