<h1>Ruby on Rails Guides (<%= @edge ? @edge[0, 7] : @version %>)</h1>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on <a href="https://github.com/rails/rails/tree/<%= @edge %>">main@<%= @edge[0, 7] %></a>.
</p>
<p>
  If you are looking for the ones for the stable version, please check
  <a href="https://guides.rubyonrails.org">https://guides.rubyonrails.org</a> instead.
</p>
<% else %>
<p>
  These are the new guides for Rails 8.1 based on <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.
</p>
<% end %>
