<% load_tree = record._load_tree_node %>
<% associations = load_tree.children.count > 0 %>
<% if load_tree.root?
  record_id = "root-#{load_tree.model_class_name}-#{record.id.to_s}"
else
  record_id = "child-#{load_tree.model_class_name}-#{record.id.to_s}-#{load_tree.full_load_path.gsub('.', '-')}"
end
%>
<details id="<%= record_id %>">
  <summary>
    <h3 style="display: inline;">Class: <%= "#{load_tree.model_class_name} with id: #{record&.id}" %></h3>
    <p>
      <% if associations %>Children Loaded: <%= load_tree.children.count %>, <% end %>
      <% if load_tree.siblings.count > 1 %>Siblings loaded: (<%= load_tree.siblings.count %>)<% end %>
    </p>
  </summary>
  <div style="padding-left: 25px">
    <ul>
      <li><%= load_tree.full_load_path %></li>
      <% unless  load_tree.root? %>
        <%
        if load_tree.parent._load_tree_node.root?
          parent_link = "root-" + load_tree.parent._load_tree_node.model_class_name + '-' + load_tree.parent.id.to_s
        else
          parent_link = "child-" + load_tree.parent._load_tree_node.model_class_name + "-" + load_tree.parent.id.to_s + "-" + load_tree.parent._load_tree_node.full_load_path.gsub('.', '-')
        end
        %>
        <li>Parent: <a href="#<%= parent_link %>"><%= "#{load_tree.parent&.inspect}" %></a></li>
      <% end %>
      <li>Record: <%= record.inspect%></li>
    </ul>
    <% if load_tree.siblings.count > 1%>
      <details>
        <summary><b>Siblings:</b></summary>
        <ol style="margin-left: 25px">
          <% load_tree.siblings.each do |sibling| %>
            <li><%= sibling.inspect %></li>
          <% end %>
        </ol>
      </details>
    <% end %>
    <details>
      <summary><b>Load CallStack:</b></summary>
      <ul style="margin-left: 25px" >
        <% load_tree.load_call_stack.each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
    </details>
    <% if associations %>
      <p><b>Loaded relations: <%= load_tree.children.join(", ") %></b></p>
      <% load_tree.children.each do |child| %>
        <div style="margin=left: 25px">
          <h4> <%= child %> </h4>
          <% Array.wrap(record.send(child)).each do |child_instance| %>
            <%= render partial: 'active_record_debugger/record', locals: { record: child_instance } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</details>