<% load_tree = record._load_tree_node %>
<% sibling_count = load_tree.siblings.count - 1 %>
<% associations = load_tree.children.count > 0 %>
<% if load_tree.root?
  record_id = "root-#{load_tree.model_class_name}-#{record.id.to_s}"
else
  record_id = "child-#{load_tree.model_class_name}-#{record.id.to_s}"
end
%>
<% class_title = "Class: #{load_tree.model_class_name} (id: #{record&.id})" %>
<details id="<%= record_id %>">
  <summary style="display: list-item">
    <% if load_tree.root? %>
      <h4 style="display: inline;"><%= class_title %></h4>
    <% else %>
      <b><%= class_title %></b><br>
    <% end %>

    <% if associations %>
      <div style="padding-left: 25px">
        <b>Loaded Relations:</b> <%= load_tree.children.join(", ") %>
        <% if sibling_count > 1 %>
          <br>
          <b>Siblings loaded:</b> <%= sibling_count %>
        <% end %>
      </div>
    <% end %>
  </summary>

  <div style="padding-left: 25px">
    <%# RECORD INSTANCE %>
    <b>Record:</b>
    <p style="padding-left: 25px"><%= record.inspect %></p>

    <%# PARENTS %>
    <% unless load_tree.root? %>
      <details>
        <summary style="display: list-item"><span><b>Parents (<%= load_tree.parents.size %>):</b></span></summary>
          <% load_tree.parents.each do |parent| %>
            <%
            parent_instance = parent.parent
            if parent_instance._load_tree_node.root?
              parent_link = "root-" + parent_instance._load_tree_node.model_class_name + '-' + parent_instance.id.to_s
            else
              parent_link = "child-" + parent_instance._load_tree_node.model_class_name + "-" + parent_instance.id.to_s
            end
            %>
            <ul>
              <li>
                <% parent_title = "Class: #{parent_instance.model_name} (id: #{parent_instance&.id})" %>
                <b><%= parent_title %></b>
                <br>
                <a href="#<%= parent_link %>"><%= "#{parent_instance.inspect}" %></a><br/>
              </li>
            </ul>
          <% end %>
      </details>
    <% end %>

    <%# RECORD SIBLINGS %>
    <% if sibling_count > 1 %>
      <details>
        <summary style="display: list-item"><span><b>Siblings (<%= sibling_count %>):</b></span></summary>
        <ol style="margin-left: 25px">
          <%# SIBLING INSTANCES %>
          <% load_tree.siblings.each do |sibling| %>
            <% unless sibling == record %>
              <li><%= sibling.inspect %></li>
            <% end %>
          <% end %>
        </ol>
      </details>
    <% end %>
    
    <%# ASSOCIATIONS%>
    <% if associations %>
      <details>
        <summary style="display: list-item"><span><b>Children</b></span></summary>
        <div style="margin-left: 25px">
          <%# RECORD CHILDREN %>
          <% load_tree.children.each do |child| %>
            <details>
              <% child_records = Array.wrap(record.send(child)) %>
              <summary style="display: list-item"><span><b><%= child %> (<%= child_records.size %>)</b></span></summary>

              <%# CHILD INSTANCES %>
              <% child_records.each do |child_instance| %>
                <div style="margin-left: 25px">
                  <%= render partial: 'active_record_debugger/record', locals: { record: child_instance } %>
                </div>
              <% end %>
            </details>
          <% end %>
        </div>
      </details>
    <% end %>

    <%# CALLSTACK %>
    <details>
      <summary style="display: list-item"><span><b>Load CallStack:</b></span></summary>
      <ul style="margin-left: 25px" >
        <% load_tree.load_call_stack.each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
    </details>
  </div>
</details>