<h1>Editing <%= singular_name %></h1>

<%%= error_messages_for :<%= singular_name %> %>

<%% form_for(:<%= singular_name %>, :url => <%= singular_name %>_path(@<%= singular_name %>), :html => { :method => :put }) do |f| %>
<% for attribute in attributes -%>
  <p>
    <b><%= attribute.column.human_name %></b><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>

<% end -%>
  <p>
    <%%= submit_tag "Update" %>
  </p>
<%% end %>

<%%= link_to 'Show', <%= singular_name %>_path(@<%= singular_name %>) %> |
<%%= link_to 'Back', <%= plural_name %>_path %>