<% content_for :page_title do %>
Ruby on Rails Guides
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dd class="kindle">Guias Rails também estão disponíveis para o <%= link_to 'Kindle', 'https://kindle.amazon.com' %>
e <%= link_to 'Free Kindle Reading Apps', 'http://www.amazon.com/gp/kindle/kcp' %> para o iPad,
iPhone, Mac, Android, etc. Download <%= link_to 'aqui', @mobi %>.
    </dd>
    <dd class="work-in-progress">Guias marcados com este ícone estão sendo trabalhadas e não estará disponível no menu Índice de Guias. Embora ainda úteis, eles podem conter informações incompletas e até mesmo erros. Você pode ajudar a revê-los e postar seus comentários e correções.</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], :work_in_progress => document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
