<h1>The Conductor</h1>

<ul>
  <li><%= link_to "Action Mailbox: Inbound emails", main_app.rails_conductor_inbound_emails_path %></li>
  <li><%= link_to "Action Mailer: Mail previews", "/rails/mailers" %></li>
  <li><%= link_to "Routes", "/rails/info/routes" %></li>
  <li><%= link_to "Properties", "/rails/info/properties" %></li>
  <li><%= link_to "Source Statistics", main_app.rails_conductor_source_statistics_path %></li>
  <li><%= link_to "Source Notes", main_app.rails_conductor_source_notes_path %></li>
</ul>
