<h1>
  <%=h @exception.class.to_s %>
  <% if request.parameters['controller'] %>
    in <%=h request.parameters['controller'].humanize %>Controller<% if request.parameters['action'] %>#<%=h request.parameters['action'] %><% end %>
  <% end %>
</h1>
<pre><%=h @exception.clean_message %></pre>

<%= @template._render_template(@rescues_path.find_by_parts("rescues/_trace.erb")) %>
<%= @template._render_template(@rescues_path.find_by_parts("rescues/_request_and_response.erb")) %>